<form {{action 'save' on='submit'}}>
  <h2>{{errorMessage}}</h2>
  <p>
    <label>Frist Name: {{input value=model.firstName}}</label>
  </p>
  <p>
    <label>Last Name: {{input value=model.lastName}}</label>
  </p>
  <p>
    <label>Email: {{input type='email' value=model.email}}</label>
  </p>
  <p>
    <label>Twitter: {{input value=model.twitter}}</label>
  </p>
  <button type="submit">Save</button>
  <button {{action 'cancel'}}>Cancel</button>
</form>